<!DOCTYPE html>
<html lang="en">
<head>
  <title>Wa.Po. - Pure Excellence</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>

      
.hero-image { background-image: linear-gradient(rgba(193, 198, 208, 0.5 ), rgba(119, 139, 172, 0.5)), url("water2.jpg"); opacity: 1;

  /* Set a specific height */
  height: 100%;
  

  /* Position and center the image to scale nicely on all screens */
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(174, 238, 174);
  }

    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 700px}

/* Set gray background color and 100% height */
.sidenav {
  /*background-color: #f1f1f1;*/
  height: 100%; 
}
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 30px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
  </style>
</head>
<body style="background-image: linear-gradient(#D1D9E1, #8399B6) ;">


<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-6 sidenav" >
      <div class="hero-image" id="heroImage">
        <div class="hero-text" style="color: white;  " >
          <h1> <b>Wa.Po. </b> </h1>
          <h3><b>An easy way to find out whether water is potable or not</b></h3>
        </div>
      </div>
    </div>

    <div class="col-sm-6" >
      
      <form style="width:90%; margin:auto; margin-top: 20%;" id="predictionForm">
        <h4 class="h2-responsive" style="text-align:center;">Is your water potable?</h4>
      
        <br><br>

        <div class="row centerAccountSettings text-center justify-content-center">
            <div class=" justify-content-center" style="width:80%; margin:auto;">



              <div class="form-group row ">
                <div class="col-sm-6">
                    <label for="new_username" >pH </label>
                    <input type="number"  class="form-control" id="ph" name="ph" placeholder="ph" required >
                </div>
              

              
                <div class="col-sm-6">
                  <label for="firstname">Hardness</label>
                  <input type="number" class="form-control" id="hardness" name="hardness" placeholder="hardness" required >
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-6">
                  <label for="lastname">Solids </label>
                  <input type="number" class="form-control" id="solids" name="solids" placeholder="solids" required >
                </div>
         

              <div class="col-sm-6">
                <label for="email">Chloramines</label>
                <input type="number" class="form-control" id="chloramines" name="chloramines" placeholder="chloramines" required >
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-6">
                <label for="password">Sulfate</label>
                <input type="number" class="form-control" id="sulfate" name="sulfate" placeholder="sulfate" required >
              </div>
            

            <div class="col-sm-6">
              <label for="password">Conductivity</label>
              <input type="number" class="form-control" id="conductivity" name="conductivity" placeholder="conductivity" required >
            </div>
          </div>
          
          <div class="form-group row">
            <div class="col-sm-4">
              <label for="password">Organic Carbon</label>
              <input type="number" class="form-control" id="organic_carbon" name="organic_carbon" placeholder="organic_carbon" required >
            </div>
          

          <div class="col-sm-4">
            <label for="password">Trihalomethanes</label>
            <input type="number" class="form-control" id="trihalomethanes" name="trihalomethanes" placeholder="trihalomethanes" required >
          </div>
        

          <div class="col-sm-4">
            <label for="password">Turbidity</label>
            <input type="number" class="form-control" id="turbidity" name="turbidity" placeholder="turbidity" required >
          </div>
        </div>

          </div>
        </div>



      <div class="col text-center">
        <button id ="predict" type="submit" style="margin: auto;" class="btn btn-primary px-4 ">Run Test</button>
      </div>

    </form>

      </div>
    </div>
      
  
      
  </div>
</div>

   
<br> 


  
<!--============================
=            Footer            =
=============================-->

<!-- Footer Bottom -->
<footer class="footer-bottom" style="background-image: linear-gradient(#A2B2C7,#f5f9ff); " >

  <div class="container">
    <div class="row">
      <div class="col-sm-4 rounded" >
        <iframe frameborder='0' id='widget-frame' lang='en' 
        scrolling='yes' src='https://environment.data.gov.uk/bwq/widget/widget/widget2?ds=http://data.ordnancesurvey.co.uk/id/7000000000011105&amp;history=2&amp;se=1&amp;width-100=true' 
        style='width:100%;height:300px;' title='edit.title' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'></iframe>
      </div>   

      <div class="col-sm-4">
        <a class="twitter-timeline" data-width="400" data-height="300"
        href="https://twitter.com/Water?ref_src=twsrc%5Etfw">Tweets by Water</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div> 
    
      <div class="col-sm-4">
        <iframe
        src="//www.epa.gov/sites/production/files/widgets/mywaterway/index.html"
        id="mywaterway" style='width:80%;height:300px;' title="How's My Waterway Widget"
        scrolling="yno" frameborder="0">
        </iframe>
      </div>
    </div> 
  </div>
</div>

  


  <!-- Container Start -->
    <div class="row" >
      <div class="col-sm-12 col-12" >
        <!-- Copyright -->
        <br> <br>
        <div class="copyright" style="text-align:center" >
          <p style="color:#375FA1;">Copyright © <script>
              var CurrentYear = new Date().getFullYear()
              document.write(CurrentYear)
            </script>, Ioanna Kandi & Kostis Mavrogiorgos</p>
        </div>
      </div>
    </div>
  
  <!-- Container End -->
  <!-- To Top -->
  <div class="top-to">
    <a id="top" class="" href="#"><i class="fa fa-angle-up"></i></a>
  </div>
</footer>

<!-- Modal for YAS POTABILITY-->
<div class="modal fade" id="yesPotable" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">This water sample is potable. Drink Away!</h4>
      </div>
      
      <div class="modal-body" style="text-align: center ;">
        <img src="happy.jpeg" class="img-fluid justify-content-center" style="height: 200px; width: 200px;" > 
        <h5 class="modal-title" id="exampleModalLongTitle"> Press 'Continue' to test another sample.</h5>
       
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="window.location.href = 'http://localhost:5000';">Continue</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for NO POTABILITY-->
<div class="modal fade" id="noPotable" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle"> Unfortunately, this water sample is not potable. Be careful.</h4>
      </div>
      
      <div class="modal-body" style="text-align: center ;">
        <img src="sad.jpeg" class="img-fluid justify-content-center" style="height: 200px; width: 200px;" > 
        <h5 class="modal-title" id="exampleModalLongTitle"> Press 'Continue' to test another sample.</h5>
       
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="window.location.href = 'http://localhost:5000';">Continue</button>
      </div>
    </div>
  </div>
</div>


<script>

$("#predictionForm").submit(function(e) {
      //prevent Default functionality
      e.preventDefault();
      //get the fields of the form based on the id
      let ph = $("#ph").val();
      let hardness = $("#hardness").val();
      let solids = $("#solids").val();
      let chloramines = $("#chloramines").val();
      let sulfate = $("#sulfate").val();
      let conductivity = $("#conductivity").val();
      let organic_carbon = $("#organic_carbon").val();
      let trihalomethanes = $("#trihalomethanes").val();
      let turbidity = $("#turbidity").val();
     
      //make the request to the back-end (it's a GET request, just like anything else we will use)
        $.get(
          "http://localhost:5000/predictPotability",
          {
            ph:ph,
            hardness:hardness,
            solids:solids,
            chloramines:chloramines,
            sulfate:sulfate,
            conductivity:conductivity,
            organic_carbon:organic_carbon,
            trihalomethanes:trihalomethanes,
            turbidity:turbidity,
            
          })
          .done(function (response) {
           $("#yesPotable").modal("show");

		

          })
          .fail(function (response) {
            //if the response status is 500 (meaning that something is wrong), the following will be executed
            //it just shows an alert with the response from the back-end
            $("#noPotable").modal("show");
          });
});

</script>

</body>
</html>
